<div class="container">
  <h3>Payment Form</h3>
  <div class="row">
    <div class="form-group col">
      <label>Receiver Name &nbsp;</label><br>
      <input type="text" class="form-control" (input)="onNameChange($any($event.target).value)"
        placeholder="Please type your complete name">
    </div>
    <div class="col">
      <label id="crct">Correct Name:</label><br>
      <button type="button" class="btn btn-outline-success">
        {{nameInput | titlecase}}
      </button>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="form-group col">
      <label>Payment date &nbsp;</label><br>
      <input type="date" class="form-control" (input)="onDateChange($any($event.target).value)"
        placeholder="02/18/1988">
    </div>
    <div class="col">
      <label id="crct">Correct Date:</label><br>

      <button type="button" class="btn btn-outline-success">
        {{dateInput | date}}
      </button><br>
      <button type="button" class="btn btn-outline-success">
        {{dateInput | date:'medium'}}
      </button><br>
      <button type="button" class="btn btn-outline-success">
        {{dateInput | date:'shortTime'}}
      </button><br>
      <button type="button" class="btn btn-outline-success">
        {{dateInput | date:'mm:ss'}}
      </button><br>
      <button type="button" class="btn btn-outline-success">
        {{dateInput | date:'full'}}
      </button><br>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="form-group col">
      <label>Amount &nbsp;</label><br>
      <input type="number" class="form-control" (input)="onAmountChange($any($event.target).value)"
        placeholder="Enter your amount">
    </div>
    <div class="col">
      <label id="crct">Correct Amount:</label><br>
      <button type="button" class="btn btn-outline-success">
        {{amountInput | currency}}
      </button><br>
      <button type="button" class="btn btn-outline-success">
        {{amountInput | currency:'CAD'}}
      </button><br>
      <button type="button" class="btn btn-outline-success">
        {{amountInput | currency:'CAD':'symbol':'4.2-2'}}
      </button><br>
      <button type="button" class="btn btn-outline-success">
        {{amountInput | currency:'IR':'symbol-narrow':'5.1-2'}}
      </button><br>
      <button type="button" class="btn btn-outline-success">
        {{amountInput | currency:'JPY'}}
      </button><br>
      <button type="button" class="btn btn-outline-success">
        {{amountInput | currency:'CLP'}}
      </button><br>
    </div>
  </div>
  <br />
  <!-- my own Mile 2 Km pipe  -->
  <div class="row">
    <div class="form-group col">
      <label>Mile &nbsp;</label><br>
      <input type="number" class="form-control" (input)="onMileChange($any($event.target).value)"
        placeholder="Enter your mile to convert">
    </div>
    <div class="col">
      <label id="crct">Km:</label><br>
      <button type="button" class="btn btn-outline-success">
        {{mileInput | miletokm}}
      </button>
    </div>
  </div>
</div>
